<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @history.location %>
</p>

<p>
  <strong>Model:</strong>
  <%= @history.model %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @history.manufacturer %>
</p>

<p>
  <strong>Style:</strong>
  <%= @history.style %>
</p>

