<p id="notice"><%= notice %></p>

<h1>Rental History</h1>

<table>
  <thead>
  <tr>
    <th>User ID</th>
    <th>start</th>
    <th>end</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @history.each do |history| %>
      <tr>

        <td><%= history.user_id %></td>
        <td><%= history.start %></td>
        <td><%= history.end %></td>


  <% end %>
  </tbody>
</table>

<br>

<li><%= link_to "Back To Home page", current_user%></li>